*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    color: white;
    background-color: darkblue;
    text-align: center;
    padding: 2rem;
}

.fas,
.far {
    padding-right: 1.5rem;
    vertical-align: middle;
}

.search,
.records-number,
.start-year,
.end-year {
    margin-top: 1rem;
}

.container2 {

    float: left;
}


.container {
    flex-wrap: wrap;
}

/* 
.weathertile {
    margin: 20px;
    background-color: lightblue;
} */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


    transition: 0.3s;
    flex-wrap: wrap;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {


    padding: 2px 16px;


}

Source:www.w3schools.com 0 card syntax htmlHtml By TheDevStar
/* .results {


    color: green;
    align-content: center;
    font-size: 57;
} */


/* .mx-auto {

    align-content: center;
} */